<div class="author-info">
  <div class="actions">
    <button class="btn like" data-action="<%= url("/#{params[:subdomain]}/#{message.id}") %>">
      <i class="icon-heart" ></i>
      <span><%= message.likes %></span>
    </button>

<% unless message.parent %>
    <button class="btn reply-to" data-id="<%= message.id %>" data-trunc="<%= strip_and_truncate(message.body) %>...">
      <i class="icon-envelope"></i>
    </button>

    <button class="btn toggle-children">
      <i class="icon-list" ></i>
      <span><%= message.children.size %></span>
    </button>
<% end %>
  </div>

  <span class="author">
    <strong><%= message.person.name %></strong>
    <%= message.created_at.strftime("at %r on %D") %>
  </span>
</div>
