<div id="markdown-reference">
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseMD">
          Markdown Reference
        </a>
      </div>
      <div id="collapseMD" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="content">
            <% markdown_examples.each do |example| %>
            <div>
              <%= render_text(example) %>
              <p><%= example.gsub(/( )+$/, "[space]" * '\1'.length).gsub(/>/, "&gt;").gsub(/(\n)+/, "<br />") %></p>
            </div>
            <% end %>

            <div>
              <div><%= render_text("Hello\n\nNew Paragraph") %></div>
              <p>Hello<br /><br />New Paragraph</p>
            </div>

            <div style="height: 100px">
              <div><%= render_text("Hello\n* * *\nNew Paragraph") %></div>
              <p>Hello<br />* * *<br />New Paragraph</p>
            </div>

            <div>
              <div><%= render_text(":poop:") %></div>
              <p>:poop: (<a href="http://www.emoji-cheat-sheet.com/">Emoji Cheatsheet</a>)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
