<div class="row-fluid message" id="message-<%= message.id %>">
  <div class="span1">
    <img src="<%= message.person.gravatar %>" style="width: 48px; height: 48px;" />
  </div>

  <div class="span11">
    <div class="message-body"><%= message.body %></div>

    <%= erb :_author, :locals => { :message => message }, :layout => false %>

    <div class="children hide">
      <% message.children.each do |child| %>
        <%= erb :_child, :locals => { :message => child }, :layout => false %>
      <% end %>
    </div>
  </div>
</div>
