<div class="row message" id="message-<%= message.id %>">
  <div class="col-1">
    <img src="<%= message.person.gravatar %>" class="gravatar" />
  </div>
  <div class="col-11">
    <div class="message-body"><%= message.body %></div>

    <%= erb :_author, :locals => { :message => message }, :layout => false %>

    <div class="children hide">
      <% message.children.each do |child| %>
        <%= erb :_child, :locals => { :message => child }, :layout => false %>
      <% end %>
    </div>
  </div>
</div>
