<!DOCTYPE html>
<html>
  <head>
    <title>Zendesk Wall</title>
    <script src="/vendor/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/application.js" type="text/javascript"></script>
    <script src="/faye/client.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
  </head>

  <body style="padding-top: 50px;">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">
            Zendesk Wall
          </a>

          <ul class="nav pull-right">
            <li class="dropdown">
              <% if logged_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= person.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= url("/#{params[:subdomain]}/logout") %>">Logout</a></li>
              </ul>
              <% elsif params[:subdomain] %>
                <a href="<%= url("/#{params[:subdomain]}/login") %>">Login</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= alert %>

      <%= erb :_form %>

      <%= yield %>
    </div>
  </body>
</html>
