<script type="text/javascript">
  var Settings = {
    current_channel: '<%= current_channel %>',
    max_messages: <%= settings.max_messages - 1 %>
  };
</script>

<!-- div id="logout">
  <a href="<%= url("/#{params[:subdomain]}/logout") %>">Logout</a>
</div -->

<div class="col-4" id="sidebar">
  <%= erb :_form %>
  <%= erb :_most_liked %>
  <%= erb :_markdown %>
</div>

<div class="col-8">
  <div id="messages">
    <% messages.each do |message| %>
      <%= erb :_message, :locals => { :message => message } %>
    <% end %>
  </div>
</div>
